<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title%></title>
    <!-- MDB icon -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/mdb/css/bootstrap.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="/mdb/css/mdb.min.css">
    <!-- Your custom styles (optional) -->
    <link rel="stylesheet" href="/mdb/css/style.css">
    <link rel="stylesheet" href="/css/upload.css">
    <link rel="stylesheet" href="/css/emojionearea.min.css">

    <link href="https://cdn.quilljs.com/1.2.6/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.2.6/quill.min.js"></script>

    <style>
        /* width */
        ::-webkit-scrollbar {
            width: 0px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .black-body {
            height: 100%;
            background: black !important;
            color: white;
        }

        #editor {
            margin-top: 150px;
            line-height: 10px;
            overflow-y: scroll;
            height: 80vh;
        }

        .ce-toolbar__content {
            max-width: 60vw;
        }

        .ce-block__content {
            max-width: 60vw;
        }

        .codex-editor svg {
            fill: black;
        }

        .ce-toolbox--opened {
            background: white;
            box-shadow: 2px 3px 6px 3px #b3b3b3;
            border-radius: 5px;
        }

        .cdx-simple-image__picture--with-background {
            background: transparent !important;
        }

        .cdx-simple-image .cdx-input {
            text-align: center;
        }

        .ce-paragraph {
            font-size: 1.75em;
        }

        h1 {
            font-size: 3em;
        }

        h2 {
            font-size: 2.5em;
        }

        h3 {
            font-size: 2.25em;
        }


        * {
            box-sizing: border-box;
        }

        .grid:after {
            content: '';
            display: block;
            clear: both;
        }

        .grid-sizer,
        .grid-item {
            /* width: 50%; */
            /* width: 33.333%; */
            width: 100%;
        }

        @media (max-width: 575px) {

            .grid-sizer,
            .grid-item {
                width: 100%;
            }
        }

        @media (min-width: 576px) and (max-width: 767px) {

            .grid-sizer,
            .grid-item {
                width: 100%;
            }
        }

        .grid-item {
            float: left;
            padding: 1px;
        }

        .grid-item img {
            display: block;
            max-width: 100%;
        }

        #image-section {
            height: 90vh;
            overflow-y: scroll;
        }




        .sidenav {
            height: 100%;
            /* Full-height: remove this if you want "auto" height */
            width: 20vw;
            /* Set the width of the sidebar */
            position: fixed;
            /* Fixed Sidebar (stay in place on scroll) */
            z-index: 2000;
            /* Stay on top */
            top: 0;
            /* Stay at the top */
            right: 0;
            background-color: white;
            /* Black */
            overflow-x: hidden;
            /* Disable horizontal scroll */
            padding-top: 20px;
            box-shadow: 4px 0px 24px -10px black;
        }

        #slider {
            position: fixed;
            z-index: 2000;
            top: 50%;
            right: 17.5vw;
            border-radius: 50%;
            width: 69px;
            height: 65px;

        }

        /* The navigation menu links */
        .sidenav a {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
        }

        /* When you mouse over the navigation links, change their color */
        .sidenav a:hover {
            color: #f1f1f1;
        }

        /* Style page content */
        .main {
            margin-left: 160px;
            /* Same as the width of the sidebar */
            padding: 0px 10px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
            .sidenav {
                padding-top: 15px;
            }

            .sidenav a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>
    <ul id="header" class="nav justify-content-end bg-transparent py-3 fixed-top">
        <li class="nav-item">
            <a href="/" class="mx-4">
                <img id="header-logo-image" src="/images/GOLDEN-PNG.png" style="width: 150px;">
            </a>
        </li>
        <li class="nav-item m-auto" style="width: 15vw;">
            <form action="/article/edit" method="post" id="article">
                <select id="category" name="category" class="browser-default custom-select">
                    <option value="none"></option>
                    <% for(var i = 0; i < categories.length; i ++){%>
                    <option value="<%= categories[i]._id%>"><%= categories[i].name%></option>
                    <% }%>
                </select>
                <input type="hidden" name="data" id="data" />
                <input type="hidden" name="summary" id="summary" value="" />
                <input type="hidden" name="articleId" value="<%= article._id%>" />
                <input type="hidden" id="article_header" name="article_header" />
                <input type="hidden" id="meta_title" name="meta_title" />
                <input type="hidden" id="meta_description" name="meta_description" />
                <input type="hidden" id="slug" name="slug" />
            </form>
        </li>
        <li class="nav-item my-auto">
            <div class="custom-switch mr-3">
                <input type="checkbox" class="custom-control-input" id="darkmode">
                <label class="custom-control-label" for="darkmode">Dark Mode</label>
            </div>
        </li>
        <li class="nav-item">
            <a href="/Backenddatei_Qualifzieren.pdf" target="_blank" class="btn btn-outline-blue btn-md">Hilfreiche
                Tipps zur Gestaltung</a>
            <a href="/Backenddatei_Reichweite.pdf" target="_blank" class="btn btn-outline-blue btn-md">Reichweite</a>
            <button type="button" id="save" class="btn btn-white btn-md">Save</button>
            <button type="button" id="publish" class="btn btn-outline-dark btn-md">Update</button>
        </li>
    </ul>
    <a class="btn btn-light" id="slider" data-toggle="tooltip" data-placement="left"
        title="You can drag, drop the image to the editor."><i class="fa fa-angle-left"
            style="font-size: 1.2rem;line-height: 40px;display: inline-block;width: auto;color: #fff;text-align: center;margin-left: -2vw;color: black;"></i></a>
    <div class="sidenav">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 mt-1">
                    <!-- Title -->
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Enter the keyword" aria-label="Username"
                            id="searchImageKey">
                        <div class="input-group-prepend">
                            <button class="input-group-text" type="button" id="searchImage"><i
                                    class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <!-- Text -->
                    <input type="hidden" name="page" id="page" />
                    <!-- <div class="grid" id="image-section">
                            <div class="grid-sizer"></div>
                        </div> -->
                    <div class="row m-1" id="image-section">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" style="height: 100vh;overflow: visible;">

        <div class="row">
            <div class="col-lg-10 editor-container">
                <% if(success_msg != ""){ %>
                <div class="alert alert-danger"  style="margin: 100px 20vw -150px 20vw;">
                    <%= success_msg %>
                </div>
                <% } %>
                <div id="editor">
                </div>
                <span class="badge badge-pill badge-danger" id="wordCount" style="position: absolute;
                    right: 1vw;"> </span>
            </div>
        </div>
    </div>

    <div class="modal fade" id="post-enable" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 10px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        &nbsp;<i class="fa fa-exclamation-triangle" style="color: chocolate;"></i>&nbsp;&nbsp;Warning
                    </h5>
                </div>
                <div class="modal-body" style="padding: 20px !important;">
                    <div class="alert alert-warning">
                        Du musst dein Profil vervollständigen, um Beiträge zu veröffentlichen.
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="/user/profile" class="btn btn-outline-black">Jetzt verifizieren.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="post-summary" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 10px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        &nbsp;<i class="fa fa-exclamation-triangle" style="color: green"></i>&nbsp;&nbsp;Info
                    </h5>
                </div>
                <div class="modal-body" style="padding: 20px !important;">
                    <div style="display: none;" class="summary-error alert alert-danger">
                        Beachte, dass dein Beitrag mindestens 5 Wörter lang sein sollte.
                    </div>
                    <img src="<%= article.file%>" alt="" class="img-fluid"
                        style="border: 1px solid rgba(195, 207, 216, 0.3);" id="imgBox">
                    <input type="file" class="form-control upload-file" style="display: none;" />
                    <a class="btn btn-light btn-sm text-dark" style="margin-top: -25px;float: right;"
                        onclick="uploadImages()">Bild hochladen</a>
                    <label>Slug:</label>
                    <input id="slug_modal" class="form-control" required value="<%= article.slug %>" />
                    <label>Meta Title :</label>
                    <input id="meta_title_modal" class="form-control" required value="<%= article.metatitle %>" />
                    <label>Meta Description :</label>
                    <textarea id="meta_description_modal" rows="5" class="form-control"
                        required><%= article.metadescription %></textarea>
                    <label>Summary :</label>
                    <textarea id="summary_modal" rows="5" class="form-control"><%= article.summary %></textarea>
                    <span class="badge badge-pill badge-danger" id="word_left" style="position: absolute;
                    right: 2vw;
                    bottom: 14vh;"></span>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-black" id="publish-submit">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="post-err" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 10px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        &nbsp;<i class="fa fa-exclamation-triangle" style="color: red;"></i>&nbsp;&nbsp;Error
                    </h5>
                </div>
                <div class="modal-body" style="padding: 20px !important;">
                    <div class="alert alert-danger">
                        You must choose the category.
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-outline-black" data-dismiss="modal">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="post-policy" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="border-radius: 10px !important">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">
                        &nbsp;<i class="fa fa-question-circle" style="color: olivedrab;"></i>&nbsp;&nbsp;Information
                    </h5>
                </div>
                <div class="modal-body" style="padding: 20px !important;">
                    <div class="alert alert-warning">
                        Beachte, dass dein Beitrag mindestens 200 Wörter lang sein sollte.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-black" data-dismiss="modal"
                        aria-label="Close">Continue</button>
                </div>
            </div>
        </div>
    </div>
    <textarea id="article_content"><%= article.body %></textarea>
    <textarea id="article_summary"><%= article.summary %></textarea>
    <textarea id="article_category_id"><%= article.category._id %></textarea>
    </script>
    <script type="text/javascript" src="/mdb/js/jquery.min.js"></script>
    <script type="text/javascript" src="/mdb/js/popper.min.js"></script>
    <script type="text/javascript" src="/mdb/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/mdb/js/mdb.min.js"></script>
    <script type="text/javascript" src="/mdb/js/addons/masonry.pkgd.min.js"></script>

    <script type="text/javascript" src="/mdb/js/addons/imagesloaded.pkgd.min.js"></script>
    <script src="/tinymce/js/tinymce/tinymce.min.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/js/upload.js"></script>
    <!-- <script src="/js/ckeditor.js"></script> -->
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/22.0.0/balloon-block/ckeditor.js"></script> -->

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>

    
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script><!-- Header -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/simple-image"></script><!-- Image -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script><!-- Delimiter -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script><!-- List -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script><!-- Checklist -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/quote@latest"></script><!-- Quote -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/code@latest"></script><!-- Code -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/embed@latest"></script><!-- Embed -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/table@latest"></script><!-- Table -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/link@latest"></script><!-- Link -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/warning@latest"></script><!-- Warning -->

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/marker@latest"></script><!-- Marker -->
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/inline-code@latest"></script><!-- Inline Code -->

    <script src="/js/emojionearea.min.js"></script>
    <script src="/js/admin_edit.js"></script>
    <!-- // infinite scroll -->
    <script type="text/javascript">
        var submitted = false;

        window.onbeforeunload = function () {
            if (!submitted) {
                return "Please save article, If you don't save the article, you can lost the article";
            }
        }
    </script>
</body>

</html>